{% assign main_menu_linklist = linklists[section.settings.menu].links %} 

<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <p>{{ section.settings.mobile_menu_title }}</p>
    
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <h1 class="text-gray-300">{{ shop.name }}</h1>
          <img
            class="h-8 w-auto"
            src="{{ 'mark.svg' | asset_url }}"
            width="32"
            height="32"
            loading="lazy"
            alt="Your Company"
          >
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            {% for link in main_menu_linklist %} 
                
                {% if link.links != blank %}
                    <div class="relative inline-block text-left">
                        <div>
                          <button
                            type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true"
                          >
                            {{ link.title }}
                          </button>
                        </div>
                       {% comment %} Dropdown content {% endcomment %}
                         <div
                          class="custom-dropdown hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                          role="menu"
                          aria-orientation="vertical"
                          aria-labelledby="menu-button"
                          tabindex="-1"
                        >
                      
                          <div class="py-1" role="none">
                            {% for childlink in link.links %}
                                <a
                                href="{{ childlink.url }}"
                                class="text-gray-700 block px-4 py-2 text-sm"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-0"
                            > {{ childlink.title }} 
                            </a>
                            {% endfor %}
                             </div>
                           </div>
                        </div>
                      </div>
                      {% else %}

                      <div class="relative">
                        <a href="{{ link.url }}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">
                          {{ link.title }}
                        </a>
                      </div>
                {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      <div>
        <a class="text-gray-300" href="{{ routes.cart_url }}">
          {% render 'icon-shopping-bag' %}
        </a>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button
          type="button"
          class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>

  
        <div class="relative ml-3 flex">

        {% if shop.customer_accounts_enabled %}
          <a
            href="{{ routes.account_login_url }}"
            class="block px-4 py-2 text-sm text-gray-300"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-0"
            >Login</a>
          <a
            href="{{ routes.account_register_url }}"
            class="block px-4 py-2 text-sm text-gray-300"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-0"
            >Register</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page"
        >Dashboard</a
      >
      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Team</a
      >
      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Projects</a
      >
      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Calendar</a
      >
    </div>
  </div>
</nav>


<script>
    // Function to check if an element is a child of another element
    function isDescendant(parent, child) {
        var node = child.parentNode;
        while (node != null) {
            if (node == parent) {
                return true;
            }
            node = node.parentNode;
        }
        return false;
    }

    // Function to close the dropdown when clicking outside
    function closeDropdownOnClickOutside(event) {
        var dropdown = document.querySelector('.custom-dropdown');
        var button = document.getElementById('menu-button');

        // Check if the clicked element is outside the dropdown and the button
        if (!isDescendant(dropdown, event.target) && event.target !== button) {
            dropdown.classList.add('hidden');
        }
    }

    // Toggle the dropdown when the button is clicked
    document.getElementById('menu-button').addEventListener('click', function () {
        var dropdown = document.querySelector('.custom-dropdown');
        dropdown.classList.toggle('hidden');
    });

    // Close the dropdown when clicking outside of it
    document.addEventListener('click', closeDropdownOnClickOutside);
</script>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "label": "Title",
        "default": "Menu",
        "info": "This is the title of the mobile menu window"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
  {% endschema %}



