 <style>
  /* Existing styles */

  /* Increase specificity for the #displayPetName input */
  div ul li .henrikYolo #displayPetName {
    font-family: Arial,'Times New Roman';
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  /* More existing styles */
</style> 

{% assign selected_variant = product.selected_or_first_available_variant %}

<div class="max-w-5xl mx-auto my-10">
  <div class="m-3 md:m-3 grid grid-cols-1 md:grid-cols-3 gap-3">
    {% comment %} PRODUCT IMAGE {% endcomment %}
    <div class="product-medias my-2 ">
      <div class="carousel flex flex-col" data-current-slide="0" data-total-slides="{{ product.media.size }}">
        {% for media in product.media %}
          <div class="carousel-slide" style="display: none;" data-id="{{ media.id }}" data-color="{{ media.alt }}">
            <div class="overflow-hidden relative ">
              <img
                class="w-full h-full object-cover customMediaAlt"
                data-option-value="{{ media.alt }}"
                data-alt="{{ media.alt }}"
                data-media-id="{{ media.id }}"
                data-media-url="{{ media.url }}"
                src="{{ media | img_url: 'large' }}"
                alt="{{ media.preview_image.alt }}"
                width="100"
                height="100"
                loading="lazy"
              >

              <div
                id="imageText-{{ media.id }}"
                class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-white text-2xl"
              ></div>
              {% comment %} <p>{{ media.id }}</p> {% endcomment %}
              {% comment %} <p>{{ media.alt }}</p> {% endcomment %}
            </div>
          </div>
        {% endfor %}
        <div class="flex items-center justify-between mt-4">
          <button class="carousel-prev">{% render 'icon-chevron-left' %}</button>
          <button class="carousel-next">{% render 'icon-chevron-right' %}</button>
        </div>
      </div>
    </div>
    <div class="product--information top-5 p-2 ">
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input type="hidden" name="id" value="{{ selected_variant.id }}">

        {% for block in section.blocks %}
          {% case block.type %}
            {% comment %} {% when 'title' %}
              <div class="my-3">
                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
              </div> {% endcomment %}
            {% comment %} {% when 'price' %}
              <div class="my-3" id="price-{{ section.id }}">
                <span class="text-base text-gray-500 line-through">
                  {{ selected_variant.compare_at_price | money }}
                </span>
                <span class="text-lg text-gray-900">
                  {{ selected_variant.price | money }}
                </span>

                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}
              </div> {% endcomment %}

            {% when 'variant_selector' %}
              <style>
                input[type='radio'] {
                  display: none;
                }

                .variant-selector-label {
                  background-color: #ceedd8;
                }

                .variant-selector-label.selected {
                  border: 1px solid black;
                }

                .magnusYolo {
                  display: none;
                }

                /* .createdInputTextDropdownContent{
                  display: none;
                } */

                .fontChangeDropdownContent{
                  display: none;
                }

              

             
              </style>

              <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                <div>
                  <ul>
                    <li class="w-full flex flex-col">
                      <h2 class="createText bg-gray-200 text-center mb-5 h-10 flex items-center justify-center">Välj text</h2>
                      <div class="createdInputTextDropdownContent flex items-center justify-center gap-3 h-10 mb-7 ">
                          <div class="custom-variants-option border w-19 flex text-center">
                            <label class="variant-selector-label py-1 px-1" for="displayPetNameTwo">
                              <input
                                id="displayPetNameTwo"
                                type="radio"
                                name="displayPetNameTwo"
                              >
                              <input 
                                class="border w-full text-center" 
                                id="displayPetName" type="text" 
                                placeholder= "ex. Pluto"
                                required
                                >
                            </label>
                          </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div>
                  <ul>
                    <li class="w-full flex flex-col">
                      <div class="petnamePhoneNumber  bg-gray-200 grid grid-cols-3 mb-5 h-10 items-center text-center ">
                      <div class=""></div>
                      <h2 class="">Nummer*</h2>
                      <p class="text-xs mr-2"> * Visas på baksidan</p>
                      </div>
                      <div class="petnamePhoneNumberDropdownContent flex items-center justify-center gap-3 h-10 mb-7 ">
                          <div class="custom-variants-option border w-19 flex text-center">
                            <label id="variant-selector-label-phonenumber"
                                class="variant-selector-label py-1 px-1" for="displayPetNameTwo">
                              <input
                                id="petnamePhoneNumber"
                                type="radio"
                                name="petnamePhoneNumber"
                              >
                              <input 
                                class="border w-full text-center" 
                                id="displayPetName" type="number" 
                                placeholder="ex. 0701234567"
                                required
                                >
                            </label>
                          </div>
                      </div>
                    </li>
                  </ul>
                </div>


                <div>
                  <ul>
                    <li class="w-full flex flex-col">
                      <div class="fontChange bg-gray-200 grid grid-cols-3 mb-5 h-10 items-center">
                        <div></div>
                        <h2 class="text-center">Typsnitt</h2>
                        <div class="flex justify-end items-center">
                        <span class="chevron text-gray-400 mr-2">{% render 'icon-chevron-input' %}</span>
                      </div>
                      </div>
                      <div class="fontChangeDropdownContent flex items-center gap-3 h-10 mb-7">
                        {% assign fontChoices = "Arial, Times" | split: ',' %}
                        {% for font in fontChoices %}
                          <div class="custom-variants-option border w-19 flex text-center">
                            <label class="variant-selector-label py-1 px-1" for="fontChoice{{ forloop.index }}">
                              <input
                                id="fontChoice{{ forloop.index }}"
                                class="font-choice "
                                type="radio"
                                name="Typsnitt"
                                value="{{ font | strip | handle }}"
                              >
                              {{ font }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </li>
                  </ul>
                </div>  
              
              
              {% for option in product.options_with_values %}
                  
  


                  <div>
                    <ul>
                      <li class="w-full flex flex-col">
                      <div class="henrikYolo bg-gray-200 grid grid-cols-3 mb-5 h-10 items-center ">
                        <div></div>
                        <h2
                          class="text-center"
                          for="Option-{{ section.id }}-{{ forloop.index0 }}"
                        >
                          {{ option.name }}
                        </h2>
                        <div class="flex justify-end items-center">
                          <span class="chevron text-gray-400 mr-2">{% render 'icon-chevron-input' %}</span>
                        </div>
                        </div>
                        <div class="flex items-center flex-wrap gap-3 mb-6 magnusYolo ">
                          {% for value in option.values %}
                            <div class="custom-variants-option border w-19 flex text-center  ">
                              <label class="variant-selector-label py-1 px-1">
                                <input
                                  class="variant-selector-class"
                                  type="radio"
                                  name="options[{{ option.name | escape }}]"
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}
                                    checked
                                  {% endif %}
                                >
                                {{ value }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </li>
                    </ul>
                  </div>
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                {% endfor %}
                

                {% comment %}  {% endcomment %}

                
                
                {% comment %}  {% endcomment %}
              </variant-selector>

            {% when 'quantity' %}
              <div class="my-3">
                <label for="Quantity-{{ section.id }}">Antal:</label>
                <div class="my-2">
                  <input
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    value="1"
                    min="1"
                    class="w-full border px-3 py-3"
                  >
                </div>
              </div>
           
            {% when 'checkout_buttons' %}
              <div class="my-3">
                <button
                  type="submit"
                  name="add"
                  id="AddToCart"
                  class="border border-black w-full py-4 px-6 bg-customGreen text-white hover:bg-gray-700 rounded-sm my-2"
                  {% if selected_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  {% if selected_variant.available == false %}
                    Sold Out
                  {% else %}
                    LÄGG I VARUKORG
                  {% endif %}
                </button>
              </div>
            {% else %}

          {% endcase %}
        {% endfor %}
      
    </div>

    <div>
              <div>
                <p class=" text-2xl text-gray-900">{{ product.title | upcase }}</p>
              </div> 
            
              <div class="my-3" id="price-{{ section.id }}">
                <span class="text-base text-gray-500 line-through">
                  {{ selected_variant.compare_at_price | money | upcase }}
                </span>
                <span class="text-lg text-gray-900">
                  {{ selected_variant.price | money | upcase }}
                </span>

                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}
              </div> 



    <div style="display: flex; flex-wrap: wrap; border-top: 1px solid lightgray;">
        <div class="my-3">
          <p class="text-gray-700">{{ product.description }}</p>
        </div>
    </div>
    </div>
  {% endform %}
  </div>
</div>


{% comment %} SCRIPT  {% endcomment %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const textInput = document.getElementById('displayPetName');

// Get the value from localStorage when the page loads
    const storedValue = localStorage.getItem('displayPetName');
      if (storedValue) {
        textInput.value = storedValue;
    }
    const carousel = document.querySelector('.carousel');
    const slides = carousel.querySelectorAll('.carousel-slide');
    const prevButton = carousel.querySelector('.carousel-prev');
    const nextButton = carousel.querySelector('.carousel-next');
    let currentSlide = parseInt(carousel.dataset.currentSlide);
    const totalSlides = parseInt(carousel.dataset.totalSlides);

    const altTexts = [];
    function getAllAltText() {
      slides.forEach((slide) => {
        const image = slide.querySelector('img');
        altTexts.push(image.alt);
      });
      console.log('All alt texts:', altTexts);
      return altTexts;
    }
    getAllAltText();

    function updateSlides() {
      slides.forEach((slide, index) => {
        slide.style.display = index === currentSlide ? 'block' : 'none';
      });

      const currentImage = slides[currentSlide].querySelector('img');
      console.log('Slide index:', currentSlide, 'Alt text:', currentImage.alt);
    }

    document.querySelectorAll('.variant-selector-label').forEach((label) => {
      label.addEventListener('click', function (event) {
        if (event.target.name === 'options[Färg]') {
          console.log('event.target.value:' + event.target.value);

          // Find the index of the slide with the matching alt attribute
          const matchingSlideIndex = altTexts.indexOf(event.target.value);
          if (matchingSlideIndex !== -1) {
            currentSlide = matchingSlideIndex;
            console.log('you clicked on a label with matching färg');
          }

          updateSlides();
        }
      });
    });

    prevButton.addEventListener('click', function () {
      currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
      updateSlides();
    });

    nextButton.addEventListener('click', function () {
      currentSlide = (currentSlide + 1) % totalSlides;
      updateSlides();
    });

    updateSlides();
  });

  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.setInitialSelectedOptions();
      const radioButtons = this.querySelectorAll('.variant-selector-class');
      radioButtons.forEach((radioButton) => {
        radioButton.addEventListener('click', this.onVariantChange.bind(this));
      });
    }

    setInitialSelectedOptions() {
      const selectedOptions = this.querySelectorAll('input[type="radio"]:checked');
      selectedOptions.forEach((selectedOption) => {
        const label = selectedOption.closest('.variant-selector-label');
        if (label) {
          label.classList.add('selected');
        }
      });
    }
    onVariantChange(event) {
      console.log('Variant changed:', event.target.value);
      // console.log('Alt text:', event.target.dataset.alt);
      // Get the clicked option and its category
      const clickedOption = event.target.closest('.variant-selector-label');
      const category = clickedOption.closest('ul');

      // Remove the 'selected' class from the previously selected option in the same category
      const previouslySelectedOption = category.querySelector('.variant-selector-label.selected');
      if (previouslySelectedOption) {
        previouslySelectedOption.classList.remove('selected');
      }

      // Add the 'selected' class to the clicked option
      if (clickedOption) {
        clickedOption.classList.add('selected');
      }

      this.getSelectedOptions();
      this.getSelectedVariant();

      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }

    getSelectedOptions() {
      const checkedRadioButtons = document.querySelectorAll('input[type="radio"]:checked');
      this.options = Array.from(checkedRadioButtons, (radioButton) => radioButton.value);
      console.log('this.options:', this.options);
    }

    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }

    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find((variant) => {
        const findings = !variant.options
          .map((option, index) => {
            return this.options[index] === option;
          })
          .includes(false);

        if (findings) return variant;
      });

      // console.log('this.currentVariant:', this.currentVariant);
    }
    updateURL() {
      if (!this.currentVariant) return;
      window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
    }

    updateFormID() {
      const form_input = document.querySelector('#product-form').querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }

    updatePrice() {
      fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
          const id = `price-${this.dataset.section}`;
          const html = new DOMParser().parseFromString(responseText, 'text/html');

          const oldPrice = document.getElementById(id);
          const newPrice = html.getElementById(id);

          if (oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
        });
    }
  }
// //  Används ej
//   const createdInputText = document.querySelector('.createText');
//   const createdInputTextDropdownContent = document.querySelector('.createdInputTextDropdownContent');

//   createdInputText.addEventListener('click', () => {
//   createdInputTextDropdownContent.classList.toggle('createdInputTextDropdownContent');
// });

const fontChange = document.querySelector('.fontChange');
const fontChangeDropdownContent = document.querySelector('.fontChangeDropdownContent');
const chevron = fontChange.querySelector('.chevron');

fontChange.addEventListener('click', () => {
  chevron.classList.toggle('rotate-90');
  fontChangeDropdownContent.classList.toggle('fontChangeDropdownContent');
});


  const henrikYolo = document.querySelectorAll('.henrikYolo');
  const magnusYolo = document.querySelectorAll('.magnusYolo');
  
  henrikYolo.forEach((henrik) => {
    const chevron = henrik.querySelector('.chevron');
    henrik.addEventListener('click', () => {
      chevron.classList.toggle('rotate-90');
      henrik.nextElementSibling.classList.toggle('magnusYolo');
    });
  });

  document.getElementById('displayPetName').addEventListener('input', function (event) {

    const text = event.target.value;
    const selectedFont = getSelectedFont();
    updateImageText(text, selectedFont);
    localStorage.setItem('displayPetName', text);
  });

  

  // New event listener for the font selection
  document.querySelectorAll('.font-choice').forEach(function (radioButton) {
    radioButton.addEventListener('change', function () {
      const text = document.getElementById('displayPetName').value;
      const selectedFont = getSelectedFont();
      updateImageText(text, selectedFont);
    });
  });

  // Function to get the selected font
  function getSelectedFont() {
    const selectedRadioButton = document.querySelector('input[name="Typsnitt"]:checked');
    return selectedRadioButton ? selectedRadioButton.value : 'Arial';
  }

  // Function to update text inside images
  function updateImageText(text, font = 'Arial') {
    document.querySelectorAll('[id^="imageText-"]').forEach(function (imageText) {
      imageText.textContent = text;
      imageText.style.fontFamily = font;
    });
  }

  customElements.define('variant-selector', VariantSelector);
</script>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Buttons",
      "limit": 1
    }
  ]
}
{% endschema %}
