 {% comment %} VARIANT {% endcomment %}
              {% comment %}
                {% when 'variant_selector' %}
                <div class="my-3">
                  {% if product.has_only_default_variant == false %}
                    <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% for option in product.options_with_values %}
                        <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                        <div class="my-2">
                          <select
                            name="options[{{ option.name | escape }}]"
                            id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="w-full border py-3 px-3"
                          >
                            {% for value in option.values %}
                              <option value="{{ value | escape }}"
                                {% if option.selected_value == value %}
                                  selected="selected"
                                {% endif %}
                              >{{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      {% endfor %}
                    </variant-selector>
                    {% endif %}
                </div>
              {% endcomment %}

              {% comment %} END VARIANT {% endcomment %}{% comment %} onclick="btnClick('{{ value | escape }}')" {% endcomment %}